@import "weather-icons";
@import "globals";
@import "variables";
@import "header"; 
@import "footer";

.background-img {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

#current {
    position: absolute;
    top: -45px;
    left: 0px;
    color: white;
    width: 200px;
    height: 45px;
    padding: 10px;
    z-index: 2;
    transition: all 2s ease;
}

#current.move {
    top: 0px;
    transition: all 2s ease;
}

#search-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
    transition: all .5s ease;
    h1 {
        margin: 0px;
        font-size: 3.5rem;
    }
}

#search-heading.fade {
    opacity: 0;
}

#search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 45px;
    color: white;
    border: 1px white solid;
    border-radius: 24px;
    transition: all 1s ease;
    z-index: 2;
    .city {
      display: block;
      height: 24px;
      margin: 10px;
    }
    input {
        background-color: transparent;
        color: white;
        border: none;
        width: 450px;
        height: 40px;
        font-size: 1rem;
        padding: 0;
    }
    input:focus {
        outline: none;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 50px;
        height: 45px;
        background-color: transparent;
        color: white;
        padding: 10px;
    }
    button:hover {
        cursor: pointer;
    }
}

#search-bar-container.move {
    top: 15%;
}

// forecast card // 
.forecast-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 440px;
  margin: auto;
  z-index: 5;
  perspective: 600px;
  transition: all 1.25s ease;
  opacity: 0;
}
  
.forecast-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
  
.forecast-card.flip {
  transform: rotateY(180deg);
}

// Styling for both faces 
.forecast-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: white;
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
}

// Front face of card 
.forecast-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  h2 {
    margin: 10px 0px 0px 0px;
    font-size: 2rem;
  }
  i {
    margin: 30px 0px 30px 0px;
    font-size: 9.5rem;
    color: $yellow;
  }
  .temp {
    font-size: 3.5rem;
  }
  .desc {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}

// Back face of card 
.forecast-card-back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  font-size: 1rem;
  background-color: $darkblue;
  transform: rotateY(180deg);
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    margin: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info h3 {
    font-size: 1rem;
  }
}

// Show animation 
.forecast-container.show {
  display: block;
  opacity: 1;
}

// label for toggle switch // 
#label-toggle {
    position: absolute;
    top: 8px;
    right: 90px;
    margin: 0px;
    color: white;
}

// toggle switch 
.toggle-control {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
    padding-left: $toggle-width;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    input:checked ~ .control {
      background-color: $toggle-background-color-on;
      
      &:after {
        left: $toggle-width - $toggle-control-size - $toggle-gutter;
      }
    }
  
    .control {
      position: absolute;
      top: 0;
      left: 0;
      height: $toggle-height;
      width: $toggle-width;
      border-radius: $toggle-radius;
      background-color: $toggle-background-color-off;
      transition: background-color $toggle-control-speed $toggle-control-ease;
  
    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}